<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form page</title>
</head>
<body>
    <div>
        <form action="/user/add" method="post">
            <label for="name">name: </label>
            <input type="text" name="name" required value=""><br>
            <label for="email">email: </label>
            <input type="email" name="email" required value=""><br>
            <label for="age">age: </label>
            <input type="text" name="age" required value=""><br>
            <label for="city">city: </label>
            <input type="text" name="city" required value=""><br>
            <label for="profession">profession: </label>
            <input type="text" name="profession" required value=""><br>
            <input type="submit" value="submit"/>
        </form>
    </div>
    
</body>
</html>